# Dependencies
node_modules/
.pnp.*
.yarn/*

# Build output
dist/
build/
.turbo/
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Prisma
apps/api/src/generated/
prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Expo / RN (apps futuras)
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Vercel
.vercel
